@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

body {
    background-color: #2e86de;
    color: #fff;
    font-family: 'Kumbh Sans', sans-serif;
}

.text {
    text-align: center;
}

#main {
    font-size: 40px;
    font-style: bolder;
}

#main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sub {
    font-size: 30px;
}

#scoreboard-container {
    display: inline-block;
    width: 10%;
    min-width: 110px;
}

#average-container {
    width: 10%;
    min-width: 140px;
    float: right;
}